.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.profile-top {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.profile-top-right {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 16px;
}

.username {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.email {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;

  margin: 0;
}

.admin {
  font-size: 16px;
  font-weight: bold;

  margin: 0;
}

.top-form {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

#logout {
  margin-top: 24px;
  color: #332fd0;
  background-color: #e15fed;
  border: 0;
  font-weight: bold;
}

#delete {
  margin-top: 16px;
  text-align: left;
  color: #6edcd9;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 100px;
}

.profile-header {
  font-size: 24px;
  font-weight: bold;

  margin-top: 32px;
  margin-bottom: 16px;
}

.submit {
  margin-top: 24px;
  color: #332fd0;
  background-color: #e15fed;
  border: 0;
  font-weight: bold;
}

.delete-button {
  margin-top: 24px;
  color: #e15fed;
  background: transparent;
  border: 2px solid #e15fed;
  font-weight: bold;
}

/* Media queries */

@media screen and (min-width: 1024px) {
  .profile-form {
    width: 500px;
  }

  .top-form {
    width: 500px;
  }
}
