@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: aqua;
}

button {
  padding: 4px 16px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

/* FORMS */

.container {
  width: 90%;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.avatar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}

.avatar-container img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.5s;
}

.avatar-container img:hover {
  background-color: black;
  border-radius: 15px;
  transition: 0.5s;
}

/* .form-alternative-text {
  text-align: center;
} */
